@font-face {
  font-family: myFirstFont;
  src: url(Dual-300.otf);
}
body{
    font-family: myFirstFont;
    background-image: url("images/nightsky.jpg");
    background-repeat: no-repeat;
    background-size: 1310px;
    color: white;
}
#A_404{
    font-size: 70px;
    position: relative;
    left: 400px;
}
#Oops{
    font-size: 60px;
    position: relative;
    left: 400px;
}
#nothing_to_see{
    font-size: 45px;
    position: relative;
    left: 400px;
}
#moon{
    height: 100px;
    width: 115px;
    position: relative;top: 25px;
}
