<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="event3.css">
    <meta charset="UTF-8">
    <title>Orion</title>
</head>
<body>
<p id="top"></p>


    <div class="header">

        <img src="images/coollogo_com-29251881.gif">
        <a href="home.html"><p class="headers"> Home </p></a>
        <a href="#join"><p class="headers"> About Event </p></a>
        <a href="#Speakers"><p class="headers"> Speakers </p></a>
        <a href="#top"><p class="headers"> Events </p></a>
        <a href="login.html"><p class="headers"> Log in </p></a>
        <form id="search" action="/action_page.php">
            <input id="search_input" type="text" placeholder="Search.." name="search">
            <button id="search_button" type="submit"><img id="search_image" src="images/Search.png"></button>
        </form>

    </div>



    <div class="line" id="line_1"></div>

    <p id="main_text">O&nbsp;&nbsp;
                      R&nbsp;&nbsp;
                      I&nbsp;&nbsp;
                      O&nbsp;&nbsp;
                      N&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      &nbsp;&nbsp;
                      C&nbsp;&nbsp;
                      O&nbsp;&nbsp;
                      N&nbsp;&nbsp;
                      F&nbsp;&nbsp;
                      E&nbsp;&nbsp;
                      R&nbsp;&nbsp;
                      E&nbsp;&nbsp;
                      N&nbsp;&nbsp;
                      C&nbsp;&nbsp;
                      E&nbsp;&nbsp;</p>

    <div class="line" id="line_2"></div>

<div id="head"><strong>Featured Speakers & Prizewinners: </strong></div>

    <div id="left_black_line"></div>

    <div id="Speakers">

        <div >
            <img class="Speakers_img" src="images/nathan.jpeg">
        <p class="Speakers_text"><strong>Nathan Newman</strong><br>Arizona State University<br>
                Global Institute of Sustainability
        </p>
        </div>

        <div>
            <img class="Speakers_img" src="images/BranislavVlahovic.jpeg">
        <p class="Speakers_text"><strong>Branislav Vlahovic</strong><br>OMICS International
<br>
        </p>
        </div>

        <div>
            <img class="Speakers_img" src="images/manyalibo.jpg">
        <p class="Speakers_text"><strong>Manyalibo J Matthews</strong><br>Lawrence Livermore National Laboratory
<br>    Physical and Life Sciences
        </p>
        </div>

    </div>


    <div id="join">
        <h4>Conference Series LLC warmly invites all the participants to <br><br>
        attend "3rd International Conference on Astronomy and  <br><br>
        Space Science" during May 02-03, 2019 at London, UK. <br><br>
        </h4><br><br><br><br><br><br><br><br><br><br>
        <h1>Join us in London, UK </h1>
        <h3>May 02-03, 2019<br><br>
        Theme:<br><br>
        Exploring the Energetic Universe <br><br></h3>


    </div>



    <div id="right_black_line"></div>


    <button id="join_button" onclick="location.href='Loggedin.html'" type="submit">Join The Event</button>



    <div class="line" id="line_3"></div>

    <div class="sponsor">

        <a href="https://www.cam.ac.uk" target="_blank"> <img id="cambridge" src="images/cambridge.png"> </a>
        <a href="https://www.nasa.gov/" target="_blank"> <img id="nasa" src="images/nasa.png"> </a>
        <a href="https://www.spacex.com/" target="_blank"> <img id="space_x" src="images/spacex.png"> </a>
        <a href="https://www.esa.int/" target="_blank"> <img id="esa" src="images/esa.png"> </a>

    </div>

    <div class="line" id="line_4"></div>


    <div class="contact">
        <p id="social_media">FOLLOW US ON</p>
       <a href="https://twitter.com/login?lang=en" target="_blank"> <img id="twitter" src="images/twitter.png"> </a>
       <a href="https://www.facebook.com/" target="_blank"> <img id="facebook" src="images/facebook.svg"> </a>
       <a href="https://www.linkedin.com/" target="_blank"> <img id="linked_in" src="images/linked_in.svg"> </a>
       <a href="https://www.instagram.com/?hl=en" target="_blank"> <img id="instagram" src="images/instagram.png"> </a>
    </div>

    <div id="line_5"></div>

    <p id="copyright"> &#169;Copyright &#169;2019 All Rights Reserved</p>


</body>
</html>